<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-08-02T05:13:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/yutaka/Projects/OwnNews/ios/OwnNews.xcodeproj</string>
</dict>
</plist>
